<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>CrearCurso</title>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		
		<form action="/home/buscarCurso" method="POST">
			<input type="text" name="nameClass" placeholder="Nombre Curso">
			<button type="submit">Buscar</button>                
		</form>

		<h1  style="text-align: center; font-size: 25px;">Buscar Cursos</h1>


		<form action="/home/mostrarCursosEstu" method="post">

			<div id="contenedor-cursos">
                <% if (objeto.nameClass != "") { %>
                    <% for (var i = 0; i < objeto.length; i++) { %>
                        <form action="#" method="POST">
						<%= objeto[i].nameClass %>	
						<input type="text" name="passClass">
                        <button type="submit" id="cursos">Añadir</button>                        
                        <input type="text" value="<%= objeto[i].idClass %>" name="idClass" style="opacity: 0;">                                                       						
						<input type="text" id="idUser" name="idUser" style="opacity: 0;">
						<input type="text" id="nameUser" name="nameUser" style="opacity: 0;">
                        </form>
                    <% } %>    
                <% } %>
            </div>			

		</form> 			
		

		<pre style="background-color: white; color: black;" >
			<%= mensaje %>
		</pre>		



		<script>
			document.getElementById("idUser").value = sessionStorage.getItem("id");   
			document.getElementById("nameUser").value = sessionStorage.getItem("nombre");
		</script>

	</body>
</html>