<!DOCTYPE html>

<html>
  <head>
    <title>Contacto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body class="subpage">
    <!-- Header -->
    <header id="header" class="alt">
      <div class="logo">
        <a href="/home"> Gamificaci칩n <span>DevOps</span></a>
      </div>
      <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/home">Inicio</a></li>
        <li><a href="/home/contacto">Contact치nos</a></li>
        <li><a href="/home/login">Acceder</a></li>
      </ul>
    </nav>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <h2>Cont치ctanos</h2>

        <form action="#" method="post">
          <div class="field half first">
            <label for="name">Nombre</label>
            <input name="name" id="name" type="text" placeholder="Name" />
          </div>
          <div class="field half">
            <label for="email">Correo electr칩nico</label>
            <input name="email" id="email" type="email" placeholder="Email" />
          </div>
          <div class="field">
            <label for="message">Mensaje</label>
            <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li><input value="Send Message" class="button alt" type="submit" /></li>
          </ul>
        </form>

        <ul class="icons">
          <li>
            <a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a>
          </li>
          <li>
            <a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a>
          </li>
        </ul>

        <div class="copyright">&copy; Designed and Developed by: <a href="#">DevOps</a>.</div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrolly@0.0.1/jquery.scrolly.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
