<!DOCTYPE HTML>

<html>
	<head>
		<title>CrearCurso</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
	</head>
	<body >	
	          
			 
						<h1  style="text-align: center; font-size: 25px;">Registro</h1>


						<form action="/home/addUser" method="post">
				
							<br>
							<label for="nameUser">Nombre:</label>
							<input type="text" name="nameUser" placeholder="Nombre">
							<br>
							<label for="lastNameUser">Apellido:</label>
							<input type="text" name="lastNameUser" placeholder="Apellido">
							<br>
							<label for="userUser">Usuario:</label>
							<input type="text" name="userUser" placeholder="Usuario">
							<br>
							<label for="passUser">Contraseña:</label>
							<input type="text" name="passUser" placeholder="Contraseña">
							<br>
							<label for="emailUser">Correo:</label>
							<input type="text" name="emailUser" placeholder="Correo">
							<br>
							<label for="typeUser">Tipo de usuario:</label>
							<select name="typeUser">
								<option value="estudiante">Estudiante</option>
								<option value="profesor">Profesor</option>            
							</select>
							<br><br>
				
							<button type="submit"> Crear</button>           
				
						</form>
			 
			

				
		

			<pre style="background-color: white; color: black;" >
				<%= mensaje %>
			</pre>		

	</body>
</html>