<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>CrearCurso</title>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>	

		<h1  style="text-align: center; font-size: 25px;">Crear Curso</h1>


		<form action="/home/addCurso" method="post">

			<br>
			<label for="nameClass">Nombre:</label>
			<input type="text" name="nameClass" placeholder="Nombre Curso">
			<br>							

			<label for="passClass">Contraseña:</label>
			<input type="text" name="passClass" placeholder="Contraseña">
			<br>	
			
			<label for="codeClass">Correo:</label>
			<input type="text" name="codeClass" placeholder="codeClass">
			<br>										
			<button type="submit"> Crear Curso</button>     
			
			

			<input type="text" name="idUser" id="idUser" style="opacity: 0;">
			<input type="text" name="nombreProfe" id="nombreProfe" style="opacity: 0;">

		</form> 
			

				
		

			<pre style="background-color: white; color: black;" >
				<%= mensaje %>
			</pre>		

			<script>				
				document.getElementById("idUser").value = sessionStorage.getItem("id");
				document.getElementById("nombreProfe").value = sessionStorage.getItem("nombre");
			</script>


	</body>
</html>