<!DOCTYPE html>
<html lang="en">

    <head>
		<title>login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>

<body class="subpage">

        <!-- Header -->
        <header id="header" class="alt">
            <div class="logo"><a href="/home"> Gamificación <span>DevOps</span></a></div>
            <a href="#menu"><span>Menu</span></a>
        </header>

        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="/home">Home</a></li>
                <li><a href="/home/login">Login</a></li>
                <li><a href="/home/registro">Registro</a></li>
            </ul>
        </nav>


    <footer id="footer">
	   <div class="inner">            

       <h1 style="text-align: center; font-size: 25px;">Login</h1>


        <form action="/home/addUser" method="post">

            <br>
            <label for="userEstudent">Usuario:</label>
            <input type="text" name="userEstudent" placeholder="Usuario">
            <br>
            <label for="passEstudent">Contraseña:</label>
            <input type="text" name="passEstudent" placeholder="Contraseña">
            <br>

            <button type="submit"> Iniciar sesion</button>           

        </form>

        </div>
    </footer> 

    <pre>
        <%= mensaje %>
    </pre>
    
    <!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

</body>

</html>