<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilosHomeEstu.css">
    <title>HomeEstudiantes</title>
</head>
<body>

    <header>
        <div id="nav-icon">
            <p id="titulo">Gamificación</p>
            <div id="marco-icono">
                <img src="" alt="imagen" id="icono">
            </div>

        </div>

        <nav id="menu">
            <ul>
                <li><a href="#inicio">Inicio<ion-icon name="attach-outline"></ion-icon></a></li>                
                <li><a href="#esquema">Esquema</a></li>
                <li><a href="#ecoins">Ecoins</a></li>
                <li><a href="#recompensas">recompensas</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <h1>Bienvenido Estudiante <span style="color: brown;"><%= mensaje %></span></h1>
    
  
</body>
</html>